# Dictionary :
A dictionary is a data structure that stores data in key-value pairs.It is
- mutable(can be changed)
- unordered(before Python 3.7)
- Indexed by keys(Not by position)

## Syntax 
```python
dictionary_name = {
    key1: value1,
    key2: value2
}
```

# Example

In [1]:
student = {
    "name": "Rohan",
    "age": 21,
    "marks": 89
}

## Characteristics of dictionary
1.<mark>Keys must be unique</mark>

In [2]:
d = {"a": 1, "a": 2}
print(d)

{'a': 2}

**Duplicate keys overwrite previous value.**

2. <mark>Keys must be immutable</mark>

Allowed:
- string
- number
- tuple

Not allowed:
- list
- dictionary

3.<mark>Values can be anything:</mark>

- string
- number
- list
- tuple
- dictionary
even another dictionary

exmple

In [3]:
data = {
    "name": "Virat",
    "scores": [100, 85, 76],
    "stats": {"matches": 250, "runs": 12000}
}

3️. <mark>Accessing Values</mark>

Method 1: Using Key:
```python
student["name"]
```
Method 2: using .get()
```python
student.get("name")
```
Difference:
- [] gives error if key not found
- .get() returns None if key not found

4. <mark>Adding and Updating values</mark>

   adding new key:
   ```pthon
   student["city"] = "Delhi"
   ```
   updating value:
   ```python
   student["marks"] = 95
   ```
   
5. <mark>Deleting Elements</mark>
   ```python
   del student["age"]
   ```
OR
   ```pyhton
   student.pop("age")
   ```

6. <mark>Looping through Dictionary</mark>

   Loop through Keys:
   ```python
   for key in student:
    print(key)
   ```
   
   Loop through values:
   ```python
   for value in student.values():
    print(value)
   ```
   
   Loop through key and value:
   ```python
   for key, value in student.items():
    print(key, value)
   ```

8. <mark>Important Dictionary Methods</mark>

- .keys() - Returns all keys
- .values() - Returns all values
- .items() - Returns key-value pairs
- .update()	- Update dictionary
- .pop() -	Remove specific key
- .clear() - Remove all elements

8. <mark>Nested dictionary</mark>

 it is a dictionary inside a dictionary
example:
```python
ipl = {
    "RCB": {
        "captain": "Faf",
        "titles": 0
    },
    "MI": {
        "captain": "Rohit",
        "titles": 5
    }
}
```
Accessing nestes values:
```python
ipl["MI"]["titles"]
```

9. <mark>Importance of Dictionary in data science</mark>

(i). **JSON data - APIs return data in dictionary format.**

example:
```pyhton
{
  "player": "Virat",
  "runs": 5432
}
```

(ii). **Dataset Row Representation - Each row in dataset can be represented as:**

example:
```python
row = {
    "match_id": 101,
    "team": "RCB",
    "runs": 180
}
```

(iii). **Counting Frequency**

In [4]:
names = ["A", "B", "A", "C", "B", "A"]

freq = {}

for name in names:
    if name in freq:
        freq[name] += 1
    else:
        freq[name] = 1

print(freq)

{'A': 3, 'B': 2, 'C': 1}

(iv). **Used Internally in Pandas - A DataFrame is like:**
```python
data = {
    "Name": ["A", "B", "C"],
    "Marks": [90, 85, 88]
}
```

## NOTE :
**A dictionary is a mutable, unordered data structure that stores data in key–value pairs. Keys must be unique and immutable. Dictionaries are widely used in data science for handling JSON data, dataset rows, frequency counting, and structured data storage.**

## Empty dictionary

An empty dictionary is a dictionary that has no key–value pairs inside it.
It is just created but contains nothing. There are two ways to create emppty dictionary:

In [14]:
data={}
print(data)

{}

In [15]:
data = dict()
print(data)

{}

We usually create an empty dictionary when:

- We want to store data dynamically
- We want to count frequency
- We want to build data step-by-step

## **Example**

In [9]:
student = {
    "name" : "Rohan",
    "age" : 21,
    "CGPA" : 7.9,
    "city" : "faridabad"
}
print(student)

{'name': 'Rohan', 'age': 21, 'CGPA': 7.9, 'city': 'faridabad'}

### Accesing by key

In [8]:
student["name"]

'Rohan'

### Accesing by get method

In [12]:
student.get("city")

'faridabad'

## getting all keys

In [16]:
student.keys()

dict_keys(['name', 'age', 'CGPA', 'city'])

## getting all values

In [17]:
student.values()

dict_values(['Rohan', 21, 7.9, 'faridabad'])

## getting all key value pairs

In [18]:
student.items()

dict_items([('name', 'Rohan'), ('age', 21), ('CGPA', 7.9), ('city', 'faridabad')])

## Practice

In [21]:
#1
student = {
"name" : "Aman",
"age" : 21,
"city" : "delhi"
}
print(student)

{'name': 'Aman', 'age': 21, 'city': 'delhi'}

In [22]:
#2
car = {
    "brand" : "Toyota",
    "model" : "Fortuner",
    "Year" : 2016
}
print(car["model"])

Fortuner

In [23]:
#3-Create an empty dictionary called data and then add value
data = {}
data["country"]="india"
data["population"]=1400000000
print(data)

{'country': 'india', 'population': 1400000000}

In [25]:
#4
product = {
    "product_name" : "Laptop",
    "price" : 50000,
    "discount" : 10
}
print(product["price"])

50000

In [27]:
#5
employee = {
    "name" : "Ajay",
    "salary" : 50000,
    "department" : "HR"
}
print(employee.keys())

dict_keys(['name', 'salary', 'department'])

In [28]:
#6 
marks = {
  "maths" : 95,
  "science" : 90,
  "english" : 92
}
print("Keys:",marks.keys())
print("values:",marks.values())

Keys: dict_keys(['maths', 'science', 'english'])
values: dict_values([95, 90, 92])