# Dictionary :
A dictionary is a data structure that stores data in key-value pairs.It is
- mutable(can be changed)
- unordered(before Python 3.7)
- Indexed by keys(Not by position)

## Syntax 
```python
dictionary_name = {
    key1: value1,
    key2: value2
}
```

# Example

In [1]:
student = {
    "name": "Rohan",
    "age": 21,
    "marks": 89
}

## Characteristics of dictionary
1.<mark>Keys must be unique</mark>

In [2]:
d = {"a": 1, "a": 2}
print(d)

{'a': 2}

**Duplicate keys overwrite previous value.**

2. <mark>Keys must be immutable</mark>

Allowed:
- string
- number
- tuple

Not allowed:
- list
- dictionary

3.<mark>Values can be anything:</mark>

- string
- number
- list
- tuple
- dictionary
even another dictionary

exmple

In [3]:
data = {
    "name": "Virat",
    "scores": [100, 85, 76],
    "stats": {"matches": 250, "runs": 12000}
}

3️. <mark>Accessing Values</mark>

Method 1: Using Key:
```python
student["name"]
```
Method 2: using .get()
```python
student.get("name")
```
Difference:
- [] gives error if key not found
- .get() returns None if key not found

4. <mark>Adding and Updating values</mark>

   adding new key:
   ```pthon
   student["city"] = "Delhi"
   ```
   updating value:
   ```python
   student["marks"] = 95
   ```
   
5. <mark>Deleting Elements</mark>
   ```python
   del student["age"]
   ```
OR
   ```pyhton
   student.pop("age")
   ```

6. <mark>Looping through Dictionary</mark>

   Loop through Keys:
   ```python
   for key in student:
    print(key)
   ```
   
   Loop through values:
   ```python
   for value in student.values():
    print(value)
   ```
   
   Loop through key and value:
   ```python
   for key, value in student.items():
    print(key, value)
   ```

8. <mark>Important Dictionary Methods</mark>

- .keys() - Returns all keys
- .values() - Returns all values
- .items() - Returns key-value pairs
- .update()	- Update dictionary
- .pop() -	Remove specific key
- .clear() - Remove all elements

8. <mark>Nested dictionary</mark>

 it is a dictionary inside a dictionary
example:
```python
ipl = {
    "RCB": {
        "captain": "Faf",
        "titles": 0
    },
    "MI": {
        "captain": "Rohit",
        "titles": 5
    }
}
```
Accessing nestes values:
```python
ipl["MI"]["titles"]
```

9. <mark>Importance of Dictionary in data science</mark>

(i). **JSON data - APIs return data in dictionary format.**

example:
```pyhton
{
  "player": "Virat",
  "runs": 5432
}
```

(ii). **Dataset Row Representation - Each row in dataset can be represented as:**

example:
```python
row = {
    "match_id": 101,
    "team": "RCB",
    "runs": 180
}
```

(iii). **Counting Frequency**

In [4]:
names = ["A", "B", "A", "C", "B", "A"]

freq = {}

for name in names:
    if name in freq:
        freq[name] += 1
    else:
        freq[name] = 1

print(freq)

{'A': 3, 'B': 2, 'C': 1}

(iv). **Used Internally in Pandas - A DataFrame is like:**
```python
data = {
    "Name": ["A", "B", "C"],
    "Marks": [90, 85, 88]
}
```

## NOTE :
**A dictionary is a mutable, unordered data structure that stores data in key–value pairs. Keys must be unique and immutable. Dictionaries are widely used in data science for handling JSON data, dataset rows, frequency counting, and structured data storage.**

## Empty dictionary

An empty dictionary is a dictionary that has no key–value pairs inside it.
It is just created but contains nothing. There are two ways to create emppty dictionary:

In [14]:
data={}
print(data)

{}

In [15]:
data = dict()
print(data)

{}

We usually create an empty dictionary when:

- We want to store data dynamically
- We want to count frequency
- We want to build data step-by-step

## **Example**

In [9]:
student = {
    "name" : "Rohan",
    "age" : 21,
    "CGPA" : 7.9,
    "city" : "faridabad"
}
print(student)

{'name': 'Rohan', 'age': 21, 'CGPA': 7.9, 'city': 'faridabad'}

### Accesing by key

In [8]:
student["name"]

'Rohan'

### Accesing by get method

In [12]:
student.get("city")

'faridabad'

## getting all keys

In [16]:
student.keys()

dict_keys(['name', 'age', 'CGPA', 'city'])

## getting all values

In [17]:
student.values()

dict_values(['Rohan', 21, 7.9, 'faridabad'])

## getting all key value pairs

In [18]:
student.items()

dict_items([('name', 'Rohan'), ('age', 21), ('CGPA', 7.9), ('city', 'faridabad')])

## Practice

In [21]:
#1
student = {
"name" : "Aman",
"age" : 21,
"city" : "delhi"
}
print(student)

{'name': 'Aman', 'age': 21, 'city': 'delhi'}

In [22]:
#2
car = {
    "brand" : "Toyota",
    "model" : "Fortuner",
    "Year" : 2016
}
print(car["model"])

Fortuner

In [23]:
#3-Create an empty dictionary called data and then add value
data = {}
data["country"]="india"
data["population"]=1400000000
print(data)

{'country': 'india', 'population': 1400000000}

In [25]:
#4
product = {
    "product_name" : "Laptop",
    "price" : 50000,
    "discount" : 10
}
print(product["price"])

50000

In [27]:
#5
employee = {
    "name" : "Ajay",
    "salary" : 50000,
    "department" : "HR"
}
print(employee.keys())

dict_keys(['name', 'salary', 'department'])

In [28]:
#6 
marks = {
  "maths" : 95,
  "science" : 90,
  "english" : 92
}
print("Keys:",marks.keys())
print("values:",marks.values())

Keys: dict_keys(['maths', 'science', 'english'])
values: dict_values([95, 90, 92])

# Some important built in function

## Iterable :
An iterable is any object that can be looped over using a for loop.If you can use it inside a for loop, it is an iterable.

- Iterable -	Example
- List -	[1, 2, 3]
- Tuple - 	(1, 2, 3)
- String -	"Python"
- Dictionary -	{"a": 1, "b": 2}
- Set -	{1, 2, 3}
- Range	- range(5)

## 1. sum() Function :
sum() is used to add all elements in an iterable (like list, tuple, set).

### Syntax :
```python
sum(iterable)
```

#### Example

In [1]:
student = [1,2,3,4,5,6]
total = sum(student)
print(total)

21

In [3]:
student = {
    "maths" : 67,
    "science" : 65,
    "english" : 45
}
total = sum(student.values())
print(total)

177

## 2. max() Function :
max() returns the largest value from an iterable.

### Syntax :
```pyhton
max(iterable)
```

#### Example

In [5]:
marks = [23,43,12,34,67,34]
highest = max(marks)
print(highest)

67

In [7]:
marks = {
    "maths" : 98,
    "science" : 45,
    "english" : 99
}
print(max(marks.values()))

99

## 3. len() — Count Elements
Returns number of elements in an iterable.

In [8]:
len([10, 20, 30])

3

## 4. min() — Smallest Value

In [9]:
marks = [85, 90, 88]
min(marks)

85

## 5. sorted() — Sort Data

In [10]:
scores = [88, 92, 75, 90]
sorted(scores)

[75, 88, 90, 92]

**For Descending Order**

In [11]:
sorted(scores, reverse=True)

[92, 90, 88, 75]

## 6. round() — Rounding Values

In [12]:
round(3.14159, 2)

3.14

## 7. type() — Check Data Type

In [14]:
print(type(10))
print(type([1, 2, 3]))

<class 'int'>
<class 'list'>

## 8. abs() — Absolute Value

In [15]:
abs(-25)

25

## 9. any() — At Least One True

In [16]:
any([False, True, False])

True

## 10. all() — All True

In [17]:
all([True, True, True])

True

**Exanple**

In [18]:
scores = [85, 90, 88]

avg = sum(scores) / len(scores)
highest = max(scores)
lowest = min(scores)

print(avg, highest, lowest)

87.66666666666667 90 85

## Practice Problem

In [5]:
#1. Student Record System
#Create a dictionary for a student containing: name, age, marks in 3 subjects - print avg marks and highest marks
student = { 
    "name" : "Aman",
    "Age" : 20,
    "Marks" : [87,67,95]
}
avg_marks = sum(student["Marks"])/len(student["Marks"])
highest_marks = max(student["Marks"])
print("Averaege Marks:",avg_marks)
print("Highest marks:",highest_marks)

Averaege Marks: 83.0
Highest marks: 95

In [7]:
# 2. IPL Player Stats - Create a dictionary: Calculate: Batting average = runs / outs and Runs per match
player = {
    "name" : "virat kohli",
    "matches" : 16,
    "Runs" : 543,
    "outs" : 14
}
batting_avg = player["Runs"]/player["outs"]
runs_per_match = player["Runs"]/player["matches"]

print(batting_avg)
print(runs_per_match)

38.785714285714285
33.9375

In [9]:
# Product Dataset Row - Create a dictionary for a product: Calculate: Final price after discount
product = {
    "product_id": 101,
    "price": 2500,
    "discount": 10
}
final_price = product["price"] - (product["price"]*product["discount"]/100)
print("Final price:" ,final_price)

Final price: 2250.0

In [1]:
marks = [85, 90, 88, 92, 80]

total = sum(marks)
average = total / len(marks)
highest = max(marks)
lowest = min(marks)

print("Total:", total)
print("Average:", average)
print("Highest:", highest)
print("Lowest:", lowest)

Total: 435
Average: 87.0
Highest: 92
Lowest: 80

In [2]:
salaries = [45000, 60000, 52000, 75000, 68000]

highest = max(salaries)
lowest = min(salaries)
top_3 = sorted(salaries, reverse=True)[:3]

print("Highest Salary:", highest)
print("Lowest Salary:", lowest)
print("Top 3 Salaries:", top_3)

Highest Salary: 75000
Lowest Salary: 45000
Top 3 Salaries: [75000, 68000, 60000]

In [3]:
prices = [1200, 999, 1500, 2300, 1800]

min_price = min(prices)
max_price = max(prices)
price_range = max_price - min_price

print("Cheapest:", min_price)
print("Costliest:", max_price)
print("Price Range:", price_range)

Cheapest: 999
Costliest: 2300
Price Range: 1301

In [1]:
#Given employee salary data, find: Total salary , Average salary ,Employee with highest salary
employees = [
    {"name": "Aman", "salary": 50000},
    {"name": "Riya", "salary": 60000},
    {"name": "John", "salary": 55000}
]
total_salary = 0
highest_salary = 0
top_employee = ""

for emp in employees:
    total_salary += emp["salary"]

    if emp["salary"] > highest_salary:
        highest_salary = emp["salary"]
        top_employee = emp["name"]

average_salary = total_salary / len(employees)

print("Total Salary:", total_salary)
print("Average Salary:", average_salary)
print("Top Employee:", top_employee)

Total Salary: 165000
Average Salary: 55000.0
Top Employee: Riya

In [2]:
temperatures = [32, 35, 33, 36, 34, 31, 30]

average_temp = sum(temperatures) / len(temperatures)
highest_temp = max(temperatures)
lowest_temp = min(temperatures)

print("Average:", round(average_temp, 2))
print("Highest:", highest_temp)
print("Lowest:", lowest_temp)

Average: 33.0
Highest: 36
Lowest: 30

In [3]:
student_marks = {
    "Rohan": 85,
    "Amit": 90,
    "Neha": 78
}
print(student_marks["Rohan"])

85

In [4]:
student_marks["Priya"] = 88
print(student_marks)

{'Rohan': 85, 'Amit': 90, 'Neha': 78, 'Priya': 88}

In [5]:
student_marks["Amit"] = 92
print(student_marks)

{'Rohan': 85, 'Amit': 92, 'Neha': 78, 'Priya': 88}

In [6]:
for name, marks in student_marks.items():
    print(name, "got", marks)

Rohan got 85
Amit got 92
Neha got 78
Priya got 88

In [9]:
# frequency counter
data = [1,1,2,2,2,2,3,3,3,4,4,5,5]
frequency={}
for item in data:
    if item in frequency:
        frequency[item]=frequency[item]+1
    else:
        frequency[item]=1
print(frequency)

{1: 2, 2: 4, 3: 3, 4: 2, 5: 2}

In [1]:
words = ["data", "science", "data", "python", "data", "python"]
marks = [90, 85, 90, 70, 85, 90, 70]

def frequency_counter(data):
    freq = {}

    for item in data:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1

    return freq

print("Word Frequency:", frequency_counter(words))
print("Marks Frequency:", frequency_counter(marks))

Word Frequency: {'data': 3, 'science': 1, 'python': 2}
Marks Frequency: {90: 3, 85: 2, 70: 2}

In [1]:
def square_numbers(numbers):
    for n in numbers:
        print(n * n)

square_numbers([2, 3, 4])

4
9
16

In [2]:
def greet(names):
    for name in names:
        print("Hello", name)

greet(["Rohan", "Amit", "Neha"])

Hello Rohan
Hello Amit
Hello Neha

In [1]:
marks = {
    "Rohan": 85,
    "Amit": 92,
    "Neha": 78,
    "Priya": 92,
    "Rahul": 85
}

# 1. Print all student names
print("Students:")
for student in marks.keys():
    print(student)

# 2. Print all marks
print("\nMarks:")
for score in marks.values():
    print(score)

# 3. Find the highest mark
highest_mark = max(marks.values())
print("\nHighest Mark:", highest_mark)

# 4. Count students scoring more than 80
count = 0
for score in marks.values():
    if score > 80:
        count += 1

print("Students scoring more than 80:", count)

Students:
Rohan
Amit
Neha
Priya
Rahul

Marks:
85
92
78
92
85

Highest Mark: 92
Students scoring more than 80: 4

In [2]:
sales = ["apple", "banana", "apple", "orange", "banana", "apple"]

freq = {}

# 1. Create frequency dictionary
for item in sales:
    if item in freq:
        freq[item] += 1
    else:
        freq[item] = 1

# 2. Print frequency dictionary
print("Product Frequency:", freq)

# 3. Product sold maximum times
most_sold = max(freq, key=freq.get)
print("Most Sold Product:", most_sold)

Product Frequency: {'apple': 3, 'banana': 2, 'orange': 1}
Most Sold Product: apple

In [1]:
ages = [18, 22, 25, 17, 30, 22, 18, 25, 30, 30]

age_groups = {
    "teen": 0,
    "young": 0,
    "adult": 0
}

for age in ages:
    if age < 20:
        age_groups["teen"] += 1
    elif age < 30:
        age_groups["young"] += 1
    else:
        age_groups["adult"] += 1

print(age_groups)

{'teen': 3, 'young': 4, 'adult': 3}